 *{
    padding: 0;
    margin: 0;
} 
.container{
    width: auto;
    height: 700px;
    
    
}
.premier{
    width: auto;
    height: 100px;
   
  
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
section {
    /* margin-top: 50px; */
    height: 100%;
    width: auto;
}
body {
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255 255 255 /0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 10;
    
}
.menu {
    display: flex;
}
.logo {
    color: #27ae60;
    font-weight: 700;
    font-size: 25px;
}
.logo span {
    color: #273e60;
}
.menu li {
   margin: 0 15px;
   list-style: none;
  
   
}
.menu li a {
    font-size: 14px;
    text-decoration: 0;
    color: #999;
    position: relative;
}
.menu li a::before {
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #27ae60;
    transition: 0.5s;
}
.menu li a:hover::before {
    width: 100%;
}
.menu li a::after {
    position: absolute;
    bottom: -5px;
    right: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #27ae60;
    transition: 0.5s;
}
.menu li a:hover::after {
    width: 100%;
}
.menu li a:hover {
    color: #000;
}
.party_deux{
    height: auto;
    width: 50%;

}

.deuxieme{
    width: auto;
    height: 700px;
   display: inline;
    position: no-repeat;
  
}

#particles-js{
    height: 700px;
    width: 100%;
    background: linear-gradient(to left bottom, green , rgb(26, 1, 31) 80%  );
    background-size: cover; 
    position: fixed;
   
}

.moi  h1{
   padding-top: 70pt;
   padding-left: 100px;
   color: aliceblue;
    text-align: center;

}
.moi p{
    text-align: center;
    padding-top: 70px;
    padding-left: 100px;
    color: aliceblue;

    
}
.container{
    height: 534pt;
    width: 100%;
    background-color: aqua;
}
.image{
    text-align: center;
    width: auto;
    height: 250pt;
    background-color: #27ae60;
    
}
.apropos{
    height: 284pt;
    width: auto;
    background-color: red;
}
.apropos ul {
    list-style-type: none;  
}
.apropos li{
    content: '-';
}
  
